.contenedor-agregar {
    font-family: 'Arial', sans-serif;
    width: 35%;
    margin: 30px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #011C40;
    border-radius: 10px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .seccion table {
    width: 100%;
  }
  
  .seccion td {
    padding: 8px 2px;
  }
  
  .secciones-formulario {
    width: 100%;
    display: flex;
    flex-direction: column; 
  }
  
  .input_agregar {
    display: flex;
    width: 95%;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
  
  .seccion td:first-child {
    width: 40%;
    padding-right: 10px; 
  }
  
  .seccion td:last-child {
    width: 80%;
  }
  
  .acciones-formulario {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .button_agregar{
    width: 30%;
    border: none;
    background: #011C40;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    text-decoration: none;
    margin: 5px;
    text-align: center;
  }

  .button_agregar:hover{
    background: #3f51b5;
    color: white;
  }

