.cabecera-pagina {
  display: flex;
  justify-content: space-between; /* Asegura que el contenido dentro del header se distribuya con espacio entre ellos */
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  /* position: fixed; Fija el header en la parte superior de la página */
  /* top: 0;
  left: 0; */
  background-color: #E0E9EE;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.logo-cabecera {
  height: 200px; /* Ajusta el tamaño según necesites */
  margin-left: 30px; /*Elimina si interfiere con la alineación */
}

.contenedor_dashboard_info {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
  
.caja_info_dashboard {
    /* background-color: #E0E9EE; */
    color: #000000;
    /* border-radius: 5px; */
}

  /* .contenido_dashboard {
    display: flex;
    margin: 20px;
    flex-direction: column;
    justify-content: space-between;
  } */
  
.encabezado_dashboard {
    font-weight: bold;
}
    
.cuerpo_dashboard a {
    display: flex;
    flex-direction: column;
    width: 100px;
    padding: 6px;
    background: #011C40;
    color: white;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    margin: 5px 0;
  
}
  
.cuerpo_dashboard a:hover {
    background: #3f51b5;
    color: white;
}

