.enlaces-crud a{
    /* width: 100%; */
    padding: 10px;
    border: none;
    background: #011C40;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    margin: 20px;
  }

  .enlaces-crud a:hover {
    background: #3f51b5;
    color: white;
  }
  
  .contenedor-busqueda {
    margin-bottom: 20px;
}

.busqueda-input {
  width: 50%;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
  color: #333;
  background-color: #f0f0f0;
  padding-left: 40px;
  margin-left: 25%;
}

.busqueda-icono {
  position: absolute;
  margin-left: -30px;
  margin-top: 10px;
  font-size: 20px;
  color: #ccc;
  pointer-events: none;
}

  .contenedor-tabla {
    width: 100%;
    overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }

  th {
    background-color: #011C40; /* Azul para los encabezados de la tabla */
    color: white;
    padding: 5px;
  }

  th, td {
    border: 1px solid #ddd; /* Un color claro para las líneas de la tabla */
    text-align: center;
  }
  
  
  .editar, .eliminar {
    display: flex;
    justify-content: center;
    border: none;
    background: #011C40;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    text-decoration: none;
    margin: 5px;
    text-align: center;
  }

  .editar:hover {
    background: #009d00;
    color: white;
  }

  .eliminar:hover {
    background: #ff0000;
    color: white;
  }